%h1 Archive

#issues
  - @issues.keys.each do |v|
    %h2= "Volume #{v}"
    - @issues[v].keys.each do |i|
      .issue
        %h3= "Issue #{i}"
        %ul
          - @issues[v][i].each do |a|
            %li
              = headline_url(a)
              .byline
                by 
                = a.byline

#old_issues
  %h2 Older Issues
