%h1 Archive

#issues
  - @issues.keys.each do |v|
    %section.volume{:id => "#{v}"}
      %h2= "Volume #{v}"
      %section.issues
        - @issues[v].keys.each do |i|
          .issue{:id => "#{i}"}
            %h3
              = "Issue #{i}"
              %span.pdf= pdf_link(@issues[v][i][0]) unless @issues[v][i][0].nil?
            %ul
              - @issues[v][i][1].each do |a|
                %li
                  = headline_link(a)
                  .byline
                    by 
                    = a.byline
