- content_for :title do
  Archive &mdash;
  
%h1#page_header Archive

%p{:style => "max-width: 33em;"} We've done our best to keep track of old issues over the millenia, but unfortunately we've only managed to safely store records for the last decade or so. Find below articles from recent issues and all the PDFs we have. 

#archive_contents
  - @issues.keys.sort.reverse.each do |v|
    %section.volume{:id => "#{v}"}
      %h2= "Volume #{v}"
      %section.issues
        - @issues[v].keys.sort.each do |i|
          .issue{:id => "#{i}"}
            %h3
              = "Issue #{i}"
              %span.pdf= pdf_link(@issues[v][i][0]) unless @issues[v][i][0].nil?
            %ul
              - @issues[v][i][1].each do |a|
                %li
                  = headline_link(a)
                  .byline
                    by 
                    = a.byline
