%section#left
  %article.primary
    %h1= headline_link(@primary)
    = primary_img(@primary)
    .byline
      by
      %span.writer= @primary.byline
    %p= excerpt(@primary, 100)

  %article.secondary
    = secondary_img(@s1)
    %h1= headline_link(@s1)
    .byline
      by
      %span.writer= @s1.byline
    %p= excerpt(@s1, 50)

  %article.secondary
    = secondary_img(@s2)
    %h1= headline_link(@s2)
    .byline
      by
      %span.writer= @s2.byline
    %p= excerpt(@s2, 50)

%section#sidebar
  - @sidebar.each do |a|
    %article
      %h1= headline_link(a)
      .byline
        by
        %span.writer= a.byline
      %p= excerpt(a, 50)

%section#right
  %h1 Also in the news
  %ul
    - @headlines.each do |a|
      %li
        = headline_link(a)
        .byline
          by 
          = a.byline

  %article
    %h1= headline_link(@s3)
    = secondary_img(@s3)
    .byline
      by
      %span.writer= @s3.byline
    %p= excerpt(@s3, 50)
