!!!5
%html
  %head
    %title
      The Chicago Shady Dealer 
      = yield_content :title
    %link{:href => "/styles/main.css", :media => "screen, handheld", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "/javascripts/application.js"}
      
  %body{:id => "#{@controller}"}
    #container
      %header
        %a{:href => "/"} 
          %img{:alt => "The Chicago Shady Dealer", :title => "Chicago Shady Dealer masthead", :src => "/images/header.png", :style => "visibility: hidden; width: 100%;"}
        %h1 The Chicago Shady Dealer
        %h2 The Only Intentional Humor Publication of the University of Chicago
      #main= yield
      %footer
        #copyright
          = "Copyright 2005&ndash;#{Time.now.strftime("%Y")}:"
          %cite The Chicago Shady Dealer
        #metapages
          %a{:href => "/"} Home
          %a{:href => "/about"} About
          %a{:href => "/archive"} Archive 
        #powered_by
          Designed by
          %a{:href => "http://dominick.me"}
            D. LoBraico,
          Powered by
          %a{:href => "http://github.com/pygatea/linus"}
            %span{:style => "color: #dd0000;"} Linus
          
