!!!5
%html
  %head
    %title
      = yield_content :title
      The Chicago Shady Dealer 
    %link{:href => "/styles/main.css", :media => "screen, handheld", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed.xml", :rel => "alternate", :title => "CSD RSS", :type => "application/rss+xml"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "/javascripts/application.js"}
      
  %body{:id => "#{@controller}"}
    #container
      %header
        %a{:href => "/"}
          %img{:alt => "The Chicago Shady Dealer", :title => "Chicago Shady Dealer masthead", :src => "/images/header.png"}
        %h1 The Chicago Shady Dealer
        %h2 The Only Intentional Humor Publication of the University of Chicago
        
      = yield
      
      %footer
        #copyright
          = "Copyright 2005&ndash;#{Time.now.strftime("%Y")}:"
          %cite The Chicago Shady Dealer
        #metapages
          %a{:href => "/"} Home
          %a{:href => "/about"} About
          %a{:href => "/archive"} Archive 
          %a{:href => "/feed.xml"} RSS
        #powered_by
          Built by
          %a{:href => "http://dominick.me"}
            D. LoBraico,
          Powered by
          %a{:href => "http://github.com/pygatea/linus"}
            %span{:style => "color: #dd0000;"} Linus
          and 
          %a{:href => "http://github.com/pygatea/csd_sidecar"}
            %span{:style => "color: #dd0000;"} Sidecar
          

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37964467-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
