- content_for :title do
  = "#{@article.headline} &mdash;"
  
%article
  %h1=   @article.headline
  #byline
    by
    %span.writer= @article.byline
  #body!=   @article.clean_body
  %section#right
    #images  
      -  @article.images.each do |i|
        = img i.file.url, h(i.description)
    #in_the_news
      %h1 Also in the news
      %ul
        - @in_the_news.each do |a|
          %li
            = headline_link(a)
            .byline
              by 
              = a.byline
